<style>
    /* Elements */
    ul {
        padding-left: 20px
    }


    /* Atomic classes */
    .mt05 {
        margin-top: 0.5rem;
    }
    .mt10 {
        margin-top: 1rem;
    }
    .mt15 {
        margin-top: 1.5rem;
    }
    .mt20 {
        margin-top: 2rem;
    }
    .mt25 {
        margin-top: 2.5rem;
    }
    .mt30 {
        margin-top: 3rem;
    }

    .mr05 {
        margin-right: 0.5rem;
    }
    .mr10 {
        margin-right: 1rem;
    }
    .mr15 {
        margin-right: 1.5rem;
    }
    .mr20 {
        margin-right: 2rem;
    }
    .mr25 {
        margin-right: 2.5rem;
    }
    .mr30 {
        margin-right: 3rem;
    }

    .mb05 {
        margin-bottom: 0.5rem;
    }
    .mb10 {
        margin-bottom: 1rem;
    }
    .mb15 {
        margin-bottom: 1.5rem;
    }
    .mb20 {
        margin-bottom: 2rem;
    }
    .mb25 {
        margin-bottom: 2.5rem;
    }
    .mb30 {
        margin-bottom: 3rem;
    }

    .ml05 {
        margin-left: 0.5rem;
    }
    .ml10 {
        margin-left: 1rem;
    }
    .ml15 {
        margin-left: 1.5rem;
    }
    .ml20 {
        margin-left: 2rem;
    }
    .ml25 {
        margin-left: 2.5rem;
    }
    .ml30 {
        margin-left: 3rem;
    }





    .site-footer {
        max-width: 64rem;
        padding: 2rem 6rem;
        margin: 0 auto;
        font-size: 1.1rem;
    }

    .page-header {
        padding: 5rem 6rem 2rem 6rem;
    }

    .project-name a {
        text-decoration: none;
        color: #fff;
    }

    .post-list-post {
        margin-top: 2rem;
    }

    .post-list .image-left, .post-list .image-right {
        width: 120px;
    }

    .post-list img {
        width: 120px;
    }

    .wip {
        padding: 10px;
        border: 1px solid red;
    }

    .tags {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }

    .tag {
        padding: 0.25rem 0.5rem;
        font-size: 12px;
        display: inline-block;
        margin-bottom: 0.25rem;
        color: rgba(255, 255, 255, 0.9);
        background-color: rgba(0, 0, 0, 0.6);
        border-color: rgba(0, 0, 0, 0.8);
        border-style: solid;
        border-width: 1px;
        border-radius: 0.3rem;
    }

    .tag+.tag {
        margin-left: 0.25rem;
    }

    .image-left {
        display: block;
        float: left;
        width: 320px;
        margin-right: 20px
    }

    .image-right {
        display: block;
        float: right;
        width: 320px;
        margin-left: 20px;
    }

    .image-empty {
        border: 1px dashed gray;
    }

    .additional-images {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .additional-images a {
        width: 48%;
        padding-bottom: 10px;
    }

    .read-aloud {
        background-color: #aeffd6;
        border-right: 4px solid black;
        border-left: 4px solid black;
        font-style: italic;
        overflow:hidden;
    }

    .read-aloud p {
        padding: 1rem 2rem 1rem 2rem;
        margin-bottom: 0;
    }

    /* This has one issue where if you have a image that is getting wrapped around, the read-aloud below wont have a top margin */
    .read-aloud + .read-aloud p {
        padding: 0 2rem 1rem 2rem;
    }

    .rules-box {
        display: block;
        float: right;
        border: 2px solid black;
        padding: 10px;
        margin: 10px 0;
        overflow:hidden;
    }

    .rules-header {
        color: #159957;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .sidebar {
        width: 320px;
        display: block;
        float: right;
        border: 2px solid black;
        padding: 10px;
        margin: 10px;
        font-style: italic;
        overflow:hidden;
    }
</style>