<style>
    .site-footer {
        max-width: 64rem;
        padding: 2rem 6rem;
        margin: 0 auto;
        font-size: 1.1rem;
    }

    .image-left {
        display: block;
        float: left;
        width: 400px;
        padding-right: 20px
    }

    .image-right {
        display: block;
        float: right;
        width: 400px;
        padding-left: 20px
    }

    .additional-images {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .additional-images a {
        width: 48%;
        padding-bottom: 10px;
    }
</style>