<header class="page-header" role="banner">

<a href="/">
    <img class="logo" src="/assets/images/site/arcane_adventures_logo_clear_trim.webp" />
</a>

<input id="menu-toggler" type="checkbox" class="menu-toggler" />
<label for="menu-toggler" class="show-menu">
    <span></span>
</label>

<div class="menu">
    <a href="/" class="btn">Home</a>
    <a href="/magic-items/" class="btn">Magic Items</a>
    <a href="/monsters/" class="btn">Monsters</a>
    <a href="/npcs/" class="btn">NPCs</a>
    <a href="/magic-item-components/" class="btn">Components</a>
    <a href="/build-guides/" class="btn">Build Guides</a>
    <a href="/fiction/" class="btn">Fiction</a>
    <a href="/dice-roller/" class="btn">Dice Roller</a>
    <a href="/about/" class="btn">About</a>
</div>

</header>
