{% comment %}
Required: side, url, size

side: left, right
url: "post_image_title"
size: 320

Will add: "post_image_title_320_2x.png" (and 3x)
{% endcomment %}
{% assign image_base_path= page.image_base_path %}
{% assign src = include.src %}
{% assign size = include.size %}
{% if image_suffix %}
{% assign suffix = image_suffix %}
{% else %}
{% assign suffix = "webp" %}
{% endif %}
<a href="{{ image_base_path }}{{ src }}.{{ suffix }}" target="_blank" class="image-{{ include.side }}" title="{{ include.alt }}">
    <img srcset="{{ image_base_path }}resized/{{ src }}_{{ size }}_2x.{{ suffix }} 2x,
                 {{ image_base_path }}resized/{{ src }}_{{ size }}_3x.{{ suffix }} 3x"
        src="{{ image_base_path }}resized/{{ src }}_{{ size }}_1x.{{ suffix }}"
        alt="{{ include.alt }}"
        width="{{ size }}"
        />
</a>
